# Python Fundamentals

#### Variables

In [16]:
# ---> for comments

name = 'Binuki'
age = 20
weight = 45.67

#name, age, weight = "Binuki", 20, 45.67

print(name)
print(age)
print(weight)

#variale namings can only have letters, numbers and underscores. No spaces.
#pyt4hon3 = 45 --->correct
#4jndn = 234 ---> wrong
#_hi_Im_Binuki_ =89 --->correct

Binuki
20
45.67

#### Data Types

In [35]:
a = 58
print(a)
print(type(a))

b = 34.567
print(b)
print(type(b))

c = True
d = False
print(c)
print(type(c))

f = 3 + 4j
print(f)
print(type(f))

58
<class 'int'>
34.567
<class 'float'>
True
<class 'bool'>
(3+4j)
<class 'complex'>

#### Arithmetic Operators

In [52]:
5/2

2.5

In [54]:
5//2

2

In [56]:
5%2

1

In [58]:
5**2

25

#### Logical Operators

In [63]:
True and True

True

In [67]:
print((5<2)or (3>8))

False

In [69]:
not True

False

#### Identity Operators

In [74]:
x = 2
y = 2
z = 4

print(x is y)
print (x is z)
print (x is not y)

True
False
False

#### If- Else

In [79]:
marks = 70

if marks>=45:
    print("Pass")
else:
    print("Fail")

Pass

#### If- Else- Elif

In [86]:
marks = 90

if marks>75:
    print("A")
elif marks>65:
    print("B")
elif marks>50:
    print("C")
else:
    print("F")

A

#### Nested If else

In [12]:
#alternative for the elif
number = 0

if number!=0:
    if number>0:
        print("Positive")
    else:
        print("Negative")
else:
    print("Zero")

Zero

#### Formatted Printing

In [108]:
name = "Binuki"
age = 20

print("Hi, I am "+name+ ". I am "+str(age)+" years old.")

Hi, I am Binuki. I am 20 years old.

#### Getting user inputs

In [112]:
name =input("Enter your name: ")
age = int(input("Enter you age: "))
score = input("Enter your score: ")

print(f"My name is {name}")

print(type(name))
print(type(age))
print(type(score))

Enter your name:  Binuki
Enter you age:  20
Enter your score:  90

My name is Binuki
<class 'str'>
<class 'int'>
<class 'str'>

#### List Data type

In [17]:
#can contain any data types
#List is a mutable data type
lst1 = [23,4,56,7]
lst2 = list((34,5,6,34,45))

print(type(lst1))
print(type(lst2))

<class 'list'>
<class 'list'>

In [173]:
my_list = ["kamal", 42, "Kandy", 12, [2,3,4]]

print(my_list[0])
print(my_list[-4])
print(my_list[1:])
print(my_list[1:3])
print(my_list[1:4:2])
print(my_list[::2])
print(my_list[4])
print(my_list[4][0])

my_list[-1] = "Colombo"
print(my_list)

my_list.append("Amaya")
print(my_list)

my_list.remove("Amaya")
print(my_list)

my_list.pop(4)
print(my_list)

kamal
42
[42, 'Kandy', 12, [2, 3, 4]]
[42, 'Kandy']
[42, 12]
['kamal', 'Kandy', [2, 3, 4]]
[2, 3, 4]
2
['kamal', 42, 'Kandy', 12, 'Colombo']
['kamal', 42, 'Kandy', 12, 'Colombo', 'Amaya']
['kamal', 42, 'Kandy', 12, 'Colombo']
['kamal', 42, 'Kandy', 12]

In [178]:
my_list = ["kamal", 42, "Kandy", 12, [2,3,4]]

print(len(my_list))

5

In [182]:
print(my_list.index(12))
print(my_list.count(12))

3
1

In [77]:
L = [2,4,5,3,6,4,9,0,8]
len(L)

9

In [79]:
sorted(L)

[0, 2, 3, 4, 4, 5, 6, 8, 9]

In [81]:
K=[1,2,3,4]
K.sort(reverse=True)
K

[4, 3, 2, 1]

### Tuple Data type

In [20]:
# Tuples are immutable. Can't add, delete, update after intializing the tuple

tupl1 = ()
print(type(tupl1))

<class 'tuple'>

In [30]:
tpl = (23,45,"kamal",23)
print(tpl[0])

23

In [32]:
print(tpl.count(23))

2

In [34]:
tpl.index(45)

1

In [42]:
#converting list to a tuple
lst4 = [2,4,5,6,"hi"]

tpl4 = tuple(lst4)
print(tpl4)
print(type(tpl4))

(2, 4, 5, 6, 'hi')
<class 'tuple'>

#### Set Data type

In [47]:
# sets are unordered. Can't use indexing and slicing
# can't use duplicate values

my_set = {"kamal", 42, "Kandy", 12}
print(my_set)
print(type(my_set))

my_set2 = {"kamal", 42,42,42, "Kandy", 12}
print(my_set)

{'kamal', 42, 12, 'Kandy'}
<class 'set'>
{'kamal', 42, 12, 'Kandy'}

In [59]:
#converting list to a set
lst4 = [2,4,5,6,"hi"]

set4 = set(lst4)
print(set4)
print(type(set4))

{2, 4, 5, 6, 'hi'}
<class 'set'>

In [57]:
#mathematical operations in set

a = {1,2,3,4,3,2,7,9}
b = {5,6,7,8,9,5,7}

print(a.union(b))
print(a.intersection(b))
print(a.difference(b))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{9, 7}
{1, 2, 3, 4}

In [108]:
# adding elements. can't add multiple elements using add()
set9 = {"Binuki", 23,45,"hi"}
print(set9)
set9.add("bimal")
print(set9)

set9.add(("saman", 34))
print(set9)

set9.update((100, 20))
print(set9)

{'hi', 23, 45, 'Binuki'}
{45, 23, 'hi', 'bimal', 'Binuki'}
{45, ('saman', 34), 23, 'hi', 'bimal', 'Binuki'}
{100, 45, ('saman', 34), 20, 23, 'hi', 'bimal', 'Binuki'}

In [110]:
set9.remove("hi")
print(set9)

{100, 45, ('saman', 34), 20, 23, 'bimal', 'Binuki'}

In [112]:
#remove any value in the set
set9.pop()
print(set9)

#clear all values in the set
set9.clear()
print(set9)

{45, ('saman', 34), 20, 23, 'bimal', 'Binuki'}
set()

#### Dictionary Data type

In [145]:
# one element has a key and a value
# No indexing. can access value by it's key

my_dict = {"name": "binuki", "age":"20","city":"Kaluthara"}
print(my_dict)
print(my_dict["age"])

{'name': 'binuki', 'age': '20', 'city': 'Kaluthara'}
20

In [147]:
my_dict["name"] = "malini"
print(my_dict)

{'name': 'malini', 'age': '20', 'city': 'Kaluthara'}

In [149]:
my_dict["is_married"] = False
print(my_dict)

{'name': 'malini', 'age': '20', 'city': 'Kaluthara', 'is_married': False}

In [151]:
print(my_dict.get("name"))

malini

In [153]:
print(my_dict.pop("name"))
#del my_dict["name"]
print(my_dict)

malini
{'age': '20', 'city': 'Kaluthara', 'is_married': False}

In [157]:
print(my_dict.pop("gender", "NOT FOUND"))
print(my_dict.pop("city", "NOT FOUND"))

NOT FOUND
Kaluthara

#### While Loop

In [1]:
x= 10

while x<=15:
    print(x)
    x+=1

10
11
12
13
14
15

#### For Loop

In [4]:
y = (1,4,6,8)
for num in y:
    print(num)

1
4
6
8

#### Functions

In [7]:
def fun2():
    print('Hello')

fun2()

Hello

In [9]:
def fun3(x):
    print(2*x)

fun3(4)

8

In [11]:
def fun(a,b,c):
    if a>=b:
        if a>=c:
            print(a)
        else:
            print(c)
    else:
        if b>=c:
            print(b)
        else:
            print(c)

fun(2,3,4)

4

In [13]:
def fun5(a,b,c):
    print(max([a,b,c]))

fun5(4,5,6)

6

In [19]:
def func(x):
    return 2*x

func(3)

6

In [21]:
[func(i) for i in [3,4,5,6]]

[6, 8, 10, 12]

#### Lambda Function

In [28]:
fun9 = lambda x: 2*x
fun9(4)

8

In [30]:
#calling can be done without defining
(lambda x : 2*x)(5)

10

In [32]:
fun10 = lambda a,b,c : max([a,b,c])
fun10(2,4,7)

7

In [36]:
get_result = lambda m: "Pass" if m>75 else "Fail"
get_result(90)

'Pass'

In [38]:
get_result(30)

'Fail'